body {
  padding: 0;
  margin: 0;
  #root {
    width: 750px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(203, 222, 250);
    transform: translate3d(0, -1px, 0);
  }
  .pic {
    width: 65px;
    height: 65px;
    background: url(../sprite/img/guessulike_cart.png);
  }
  .img {
    width: 82px;
    height: 82px;
    background: url(../sprite/img/pic_logo.png);
  }
  .abbbbb {
    width: 50px;
  }
  span {
    height: 4000px;
  }
}
