body {
  padding: 0;
  margin: 0;
  #root {
    width: 750px;
    height: 200px;
    margin-top: 40px;
    background-color: rgb(203, 222, 250);
    transform: translate3d(0, -1px, 0);
  }
  .box {
    padding: 30px;
  }
  .border {
    border: 1px solid red;
    padding: 5px;
    margin: 25px 0;
    font-size: 40px;
  }
  .demo_class {
    background: url('../../sprite/img1/a.png');
  }
}
